body {
  font-family: sans-serif;
  margin: 30px;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input,
select,
button {
  padding: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eef;
  margin-bottom: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 400px;
}